{{ $text := `
Большинство команд для **Модулей Хьюго** требует установки более новой версии Go (смотрите https://golang.org/dl/) и соответствующего VCS клиента (например, Git, смотрите https://git-scm.com/downloads/ ). Если у Вас есть «более старый» сайт, работающий на Netlify, Вам, возможно, придется установить GO_VERSION на 1.12 в настройках среды.

Для получения дополнительной информации о модулях Go, смотрите:

* https://github.com/golang/go/wiki/Modules
* https://blog.golang.org/using-go-modules
` }}

<aside class="admonition note">
	<div class="note-icon">
		{{partial "svg/exclamation.svg" (dict "size" "20px" ) }}
	</div>
	<div class="admonition-content">
        {{- $text | markdownify -}}
    </div>
</aside>
